Options FollowSymLinks
RewriteEngine on
RewriteBase /


#
#
# Main Rewrite Rules
#
#
#/
RewriteCond %{REQUEST_URI} ^/16mm/.*$
RewriteRule ^/?$ /16mm/16mm.php  [L,NE,QSA]
RewriteRule ^/?$ /16mm.php  [L,NE,QSA]

