$BASE : './' !default;
@import 'oxy/css/oxy';

@font-face { font-family:OpenSans;          font-style:normal; font-weight:300; src:base-url('mmx/fon/OpenSans300.ttf')                 format('truetype'); }
@font-face { font-family:OpenSans;          font-style:normal; font-weight:400; src:base-url('mmx/fon/OpenSans400.ttf')                 format('truetype'); }
@font-face { font-family:OpenSans;          font-style:normal; font-weight:600; src:base-url('mmx/fon/OpenSans600.ttf')                 format('truetype'); }
@font-face { font-family:OpenSans;          font-style:normal; font-weight:700; src:base-url('mmx/fon/OpenSans700.ttf')                 format('truetype'); }
@font-face { font-family:OpenSans;          font-style:normal; font-weight:800; src:base-url('mmx/fon/OpenSans800.ttf')                 format('truetype'); }
@font-face { font-family:OpenSans;          font-style:italic; font-weight:300; src:base-url('mmx/fon/OpenSansItalic300.ttf')           format('truetype'); }
@font-face { font-family:OpenSans;          font-style:italic; font-weight:400; src:base-url('mmx/fon/OpenSansItalic400.ttf')           format('truetype'); }
@font-face { font-family:OpenSans;          font-style:italic; font-weight:600; src:base-url('mmx/fon/OpenSansItalic600.ttf')           format('truetype'); }
@font-face { font-family:OpenSans;          font-style:italic; font-weight:700; src:base-url('mmx/fon/OpenSansItalic700.ttf')           format('truetype'); }
@font-face { font-family:OpenSans;          font-style:italic; font-weight:800; src:base-url('mmx/fon/OpenSansItalic800.ttf')           format('truetype'); }
@font-face { font-family:OpenSansCondensed; font-style:normal; font-weight:300; src:base-url('mmx/fon/OpenSansCondenced300.ttf')        format('truetype'); }
@font-face { font-family:OpenSansCondensed; font-style:normal; font-weight:700; src:base-url('mmx/fon/OpenSansCondenced700.ttf')        format('truetype'); }
@font-face { font-family:OpenSansCondensed; font-style:italic; font-weight:300; src:base-url('mmx/fon/OpenSansCondencedItalic300.ttf')  format('truetype'); }
@font-face { font-family:Yanone;            font-style:normal; font-weight:200; src:base-url('mmx/fon/Yanone200.ttf')                   format('truetype'); }
@font-face { font-family:Yanone;            font-style:normal; font-weight:300; src:base-url('mmx/fon/Yanone300.ttf')                   format('truetype'); }
@font-face { font-family:Yanone;            font-style:normal; font-weight:400; src:base-url('mmx/fon/Yanone400.ttf')                   format('truetype'); }
@font-face { font-family:Yanone;            font-style:normal; font-weight:700; src:base-url('mmx/fon/Yanone700.ttf')                   format('truetype'); }
@font-face {
  font-family: '16mm';
  src:base-url('mmx/fon/16mm.eot');
  src:base-url('mmx/fon/16mm.eot?#iefix') format('embedded-opentype'),
  base-url('mmx/fon/16mm.woff') format('woff'),
  base-url('mmx/fon/16mm.ttf') format('truetype'),
  base-url('mmx/fon/16mm.svg#16mm') format('svg');
  font-weight: normal;
  font-style: normal;
}
.mmx-icon { @extend .icon; font-family:'16mm'; }






$BGM0:#656d78; $BGM0h:#434a54; $TXM0:'Not seen';

$color_1:#ffce54; $color_11:#f6bb42;
$color_2:#4fc1e9; $color_22:#3bafda;
$color_3:#ec87c0; $color_33:#d770ad;
$color_4:#ed5565; $color_44:#da4453;
$color_5:#48cfad; $color_55:#37bc9b;
$color_6:#ac92ec; $color_66:#967adc;


$xcolor_1:#ec87c0; $xcolor_11:#d770ad;
$xcolor_2:#a0d468; $xcolor_22:#8cc152;
$xcolor_4:#ed5565; $xcolor_44:#da4453;
$xcolor_4:#ffce54; $xcolor_44:#f6bb42;

$xcolor_3:#48cfad; $xcolor_33:#37bc9b;

$xcolor_1:#ac92ec; $BGM1h:#967adc; $TXM1:'Must see';
$xcolor_1:#ed5565; $BGM3h:#da4453; $TXM3:'Awful';
$xcolor_1:#5d9cec; $BGM5h:#4a89dc; $TXM5:'Good';

$BGA0:#656d78; $BGA0h:#434a54; $TXA0:'Not following';
$BGA2:#ac92ec; $BGA2h:#967adc; $TXA2:'Following';

$color-A:#656d78; $color-AA:#434a54;
$color-B:#ccd1d9; $color-BB:#aab2bd;
$color-C:#f5f7fa; $color-CC:#e6e9ed;

$X:#f5f7fa; $XX:#e6e9ed;
$Y:#ccd1d9; $YY:#aab2bd;
$Z:#656d78; $ZZ:#434a54;

$BGR:#a0d468; $BGRh:#8cc152;
$BGR:#4fc1e9; $BGRh:#3bafda;
$BGR:#fc6e51; $BGRh:#e9573f;



body, td, th { font:14px/16px OpenSans, sans-serif; }
body { background:$YY url(mmx/img/bg.png); }
.formPane       { border-width:0; background:#ffffff; color:#656d78; padding:10px; border-radius:5px; font:14px/16px "OpenSans", sans-serif; letter-spacing:1px; &:focus { border-width:0; background:#ffffff; } }
.formButton     { border-width:0; background:#ccd1d9; color:#ffffff; padding:11px 16px; border-radius:5px; font:14px/16px "OpenSans", sans-serif; letter-spacing:1px; &:hover { border-width:0; background:#ffffff; } }


.mmx-bar {
	position:fixed; width:60px; top:0; bottom:0;
	background:#ffffff;
	&#mmx-bar-actors { left:0; }
	&#mmx-bar-movies { right:0; }
	.mmx-tab {
		box-sizing:border-box; width:60px; padding:20px 0; text-align:center;
		cursor:pointer;
		.icon { font-size:24px;display:block; }
		&:hover { background:#f0f0f0; }
		&.active { background:#e7e7e7; }
	}
}


#mmx-search {
	position:fixed; top:40px; left:25%; right:25%; padding:50px; box-sizing:border-box; background:rgba(255,255,255,0.5); border-radius:15px; z-index:1000;
	.mmx-button-wrapper { box-sizing:border-box; margin-left:100%; }
	.formButton { position:absolute; margin:5px 0 0 -45px; padding:7px 11px; }
	.formPane { padding:10px 60px 11px 10px; margin:0; }

	.mmx-title { text-align:center; font:700 50px/70px "Yanone",sans-serif; letter-spacing:-4px; color:#333333; text-shadow:1px 1px 0 #aaaaaa; .mm { font-size:30px; margin-left:4px; letter-spacing:0; }  }
}



.mmx-tile {
  float:left; box-sizing:border-box; border-radius:5px 5px 10px 10px; margin:10px; cursor:pointer;
  .image { position:absolute; border-radius:0 0 5px 5px; box-sizing:border-box; }
  .main { position:absolute; border-radius:0 0 5px 5px; background:#ffffff; box-sizing:border-box; padding:5px; }
  .details { position:absolute; border-radius:5px 5px 0 0; box-sizing:border-box; background:rgba($color-A,0.9); display:none; }
  &.mmx-movie-tile { $w:300px; $h:225px; $hh:$h - 75px;
	width:$w; height:$h;
	.image { width:$w; height:$hh + 10px; background-image:url(mmx/img/movie.png); }
	.main { width:$w; height:$h - $hh; margin-top:$hh;  }
	.details { width:$w; height:$hh; .col-0{ height:$hh; }}
  }
  &.mmx-actor-tile { $w:185px; $h:315px; $hh:$h - 75px;
	width:$w; height:$h;
	.image { width:$w; height:$hh + 10px; background-image:url(mmx/img/actor.png); }
	.main { width:$w; height:$h - $hh; margin-top:$hh;  }
	.details { width:$w; height:$hh; .col-0{ height:$hh; }}
  }
  .title     { display:block; font:400 18px/20px Yanone,sans-serif; color:$color-A; text-decoration:none; }
  &:hover .title { color:#000000; }
  &:hover .details { display:block; }
  .details {
	.col-0 { width:1%; vertical-align:bottom; display:inline-block; }
	.col-1 { width:64%; vertical-align:bottom; display:inline-block; box-sizing:border-box; padding:5px 5px 6px 5px; }
	.col-2 { width:35%; vertical-align:bottom; display:inline-block; box-sizing:border-box; padding:5px 5px 6px 0; }
	.label { display: block; font: 300 12px/12px Yanone, sans-serif; color: rgba(255, 255, 255, 0.5); margin-top: 5px; }
	.value { display: block; font: 400 14px/14px Yanone, sans-serif; color: rgba(255, 255, 255, 1.0); }
  }
}

.mmx-side-bar {
  position:fixed; width:250px; top:0; bottom:0;
  background:#a0d468; display:none;
  &#mmx-side-bar-actors { left:60px; }
  &#mmx-side-bar-movies { right:60px; }

  .mmx-side {
	padding:10px;
	.image { width:230px; height:120px; background-image:url(mmx/img/movie.png); border-radius:5px; background-size: 100% auto; }
	.title   { display:block; font:600 22px/24px Yanone,sans-serif; color:#ffffff; text-decoration:none; margin-top:20px;}
	.details {
	  margin-top:20px;
	  .label { display: block; font: 300 12px/12px Yanone, sans-serif; color: rgba(255, 255, 255, 0.5); margin-top: 5px; }
	  .value { display: block; font: 400 14px/14px Yanone, sans-serif; color: rgba(255, 255, 255, 1.0); }
	}
	.description { display: block; font: 400 14px/14px Yanone, sans-serif; color: rgba(255, 255, 255, 1.0); margin-top:20px; }
  }
}



#mmx-main {

margin:0 60px;
padding:30px;
height: 8000px;
}
